__pycache__
*.pyc
.pytest_cache/

# only produced by the optional `pip install -e .`
*.egg-info/
build/
dist/

.venv/
/.idea/Wildfire-UAVSim.iml
/.idea/.gitignore
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
